[Desktop Entry]
Name=NutshellSupport
GenericName=Remote Support
Comment=Remote Support
Exec=rustdesk %u
Icon=nutshellsupport
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;
StartupWMClass=rustdesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=rustdesk %u
